:root {
    --blue: #0D3B66;
    --light-yellow: #FAF0CA;
    --yellow: #F4D35E;
    --orange: #EE964B;
    --dark-orange: #F95738;
}

body {
    display: grid;
    grid-template-columns: 240px auto;
    grid-template-rows: 130px calc(100vh - 150px);
    grid-template-areas: "sidebar header"
    "sidebar main";
}

.sidebar {
    background-color: var(--blue);
    grid-area: sidebar;
    z-index: 0
}

.header {
    background-color: var(--yellow);
    grid-area: header;
    box-shadow: 0px 3px 3px #d8b126 ;
    z-index: 1;
}

.main {
    background-color: var(--light-yellow);
    grid-area: main;
    z-index: 0
}