@-webkit-keyframes ring {
    0% { -webkit-transform: rotateZ(0); }
    1% { -webkit-transform: rotateZ(30deg); }
    3% { -webkit-transform: rotateZ(-28deg); }
    5% { -webkit-transform: rotateZ(34deg); }
    7% { -webkit-transform: rotateZ(-32deg); }
    9% { -webkit-transform: rotateZ(30deg); }
    11% { -webkit-transform: rotateZ(-28deg); }
    13% { -webkit-transform: rotateZ(26deg); }
    15% { -webkit-transform: rotateZ(-24deg); }
    17% { -webkit-transform: rotateZ(22deg); }
    19% { -webkit-transform: rotateZ(-20deg); }
    21% { -webkit-transform: rotateZ(18deg); }
    23% { -webkit-transform: rotateZ(-16deg); }
    25% { -webkit-transform: rotateZ(14deg); }
    27% { -webkit-transform: rotateZ(-12deg); }
    29% { -webkit-transform: rotateZ(10deg); }
    31% { -webkit-transform: rotateZ(-8deg); }
    33% { -webkit-transform: rotateZ(6deg); }
    35% { -webkit-transform: rotateZ(-4deg); }
    37% { -webkit-transform: rotateZ(2deg); }
    39% { -webkit-transform: rotateZ(-1deg); }
    41% { -webkit-transform: rotateZ(1deg); }
  
    43% { -webkit-transform: rotateZ(0); }
    100% { -webkit-transform: rotateZ(0); }
  }
  
  @-moz-keyframes ring {
    0% { -moz-transform: rotate(0); }
    1% { -moz-transform: rotate(30deg); }
    3% { -moz-transform: rotate(-28deg); }
    5% { -moz-transform: rotate(34deg); }
    7% { -moz-transform: rotate(-32deg); }
    9% { -moz-transform: rotate(30deg); }
    11% { -moz-transform: rotate(-28deg); }
    13% { -moz-transform: rotate(26deg); }
    15% { -moz-transform: rotate(-24deg); }
    17% { -moz-transform: rotate(22deg); }
    19% { -moz-transform: rotate(-20deg); }
    21% { -moz-transform: rotate(18deg); }
    23% { -moz-transform: rotate(-16deg); }
    25% { -moz-transform: rotate(14deg); }
    27% { -moz-transform: rotate(-12deg); }
    29% { -moz-transform: rotate(10deg); }
    31% { -moz-transform: rotate(-8deg); }
    33% { -moz-transform: rotate(6deg); }
    35% { -moz-transform: rotate(-4deg); }
    37% { -moz-transform: rotate(2deg); }
    39% { -moz-transform: rotate(-1deg); }
    41% { -moz-transform: rotate(1deg); }
  
    43% { -moz-transform: rotate(0); }
    100% { -moz-transform: rotate(0); }
  }
  
  @keyframes ring {
    0% { transform: rotate(0); }
    1% { transform: rotate(30deg); }
    3% { transform: rotate(-28deg); }
    5% { transform: rotate(34deg); }
    7% { transform: rotate(-32deg); }
    9% { transform: rotate(30deg); }
    11% { transform: rotate(-28deg); }
    13% { transform: rotate(26deg); }
    15% { transform: rotate(-24deg); }
    17% { transform: rotate(22deg); }
    19% { transform: rotate(-20deg); }
    21% { transform: rotate(18deg); }
    23% { transform: rotate(-16deg); }
    25% { transform: rotate(14deg); }
    27% { transform: rotate(-12deg); }
    29% { transform: rotate(10deg); }
    31% { transform: rotate(-8deg); }
    33% { transform: rotate(6deg); }
    35% { transform: rotate(-4deg); }
    37% { transform: rotate(2deg); }
    39% { transform: rotate(-1deg); }
    41% { transform: rotate(1deg); }
  
    43% { transform: rotate(0); }
    100% { transform: rotate(0); }
  }

:root {
    --blue: #0D3B66;
    --light-yellow: #FAF0CA;
    --mid-yellow: #fbeaa5;
    --yellow: #F4D35E;
    --orange: #EE964B;
    --dark-orange: #F95738;
}

body {
    display: grid;
    grid-template-columns: 240px auto;
    grid-template-rows: 160px calc(100vh - 140px);
    grid-template-areas:
        "sidebar header"
        "sidebar main";
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: var(--blue);
}

.flexRow {
    display: flex;
    flex-direction: row;
}


.flexColumn{
    display: flex;
    flex-direction: column;
}

.sidebar {
    display: flex;
    flex-direction: column;
    background-color: var(--blue);
    grid-area: sidebar;
    z-index: 2;
    color: white;
}

.logo {

    padding: 25px 0 0 25px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-family: Futura;
    letter-spacing: 1.6px;
    font-size: 1.8em;
    gap: 9px;
}

.logo:hover svg {
    rotate: 360deg;
    transition: rotate ease 0.4s 0s;
}

.icon {
    filter:  brightness(0)
             saturate(100%)
             invert(15%)
             sepia(44%)
             saturate(2744%)
             hue-rotate(192deg)
             brightness(95%)
             contrast(92%);
}

.sidebar img {
    filter: invert(1);
    height: 30px;
    width: 30px;
}

.section {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.sectionItem {
    padding: 5px 0 5px 37px;
    display: flex;
    gap: 23px;
    align-items: center;
    font-weight: bolder;
    transition: all ease 0.2s;
}

.sectionItem:hover {
    background-color: white;
    color: var(--blue);
    transition: all ease 0.2s;
    cursor: pointer;
}

.sectionItem:hover img {
    filter: brightness(0)
            saturate(100%)
            invert(15%)
            sepia(44%)
            saturate(2744%)
            hue-rotate(192deg)
            brightness(95%)
            contrast(92%);
    transform: rotate3d(0, 1, 0, 360deg);
    height: 30px;
    width: 30px;
    transition: all ease 0.4s;
}

.header {
    background-color: var(--yellow);
    grid-area: header;
    justify-content: space-evenly;
    box-shadow: 0px 5px 5px #d8b126 ;
    z-index: 1;
}

.username, .userImg, .icon, .action {
    cursor: pointer;
}

.header > * {
    padding: 0 60px;
}

.header > *,
.header > * > * {
    justify-content: space-between;
    align-items: center;
}

#searchBox {
    border-radius: 15px;
    border-style: none;
    padding-left: 10px;
    width: 320px;
    height: 30px;
}

#searchBox::placeholder {
    font-style: italic;
}

#searchBox:focus {
    border-radius: 15px;
    border-style: solid var(--dark-orange) 2px;
    padding-left: 10px;
    width: 350px;
    height: 30px;
}

.bell:hover {
    -webkit-animation: ring 4s ease-in-out infinite;
    -webkit-transform-origin: 50% 4px;
    -moz-animation: ring 4s  ease-in-out infinite;
    -moz-transform-origin: 50% 4px;
    animation: ring 4s  ease-in-out infinite;
    transform-origin: 50% 4px;
}

.lowerHeader > *,
.upperHeader > * {
    gap: 20px;
}
.upperHeader {
    margin-top: 10px;
}

.lowerHeader {
    margin-bottom: 10px;
}

.searchBar {
    border-radius: 15px;
    border-style: none;
    padding-left: 8px;
    background-color: var(--dark-orange);
    height: 32px;
    max-width: 350px;
    gap: 2px;
    transition: all ease 0.2s;
}

.searchBar:hover {
    background-color: #f7a558;
    transition: all ease 0.2s;
}

.small {
    font-size: small;
    margin-bottom: 5px;
}

.username {
    font-size: larger;
    font-weight: bolder;
}

.action {
    color: white;
    background-color: var(--orange);
    border: 2px solid var(--dark-orange);
    transform: rotate3d(1, 0, 0, 20deg);
    box-shadow: 0 4px 0px var(--dark-orange);
    font-weight: bold;
    border-radius: 25px;
    padding: 10px 23px;
}

.action:hover {
    background-color: #f7a558;
}

.action:active {
    background-color:  #f7a558;
    border: 2px solid var(--dark-orange);
    transform: rotate3d(1, 0, 0, 20deg);
    box-shadow: 0 1px 0px var(--dark-orange);
    font-weight: bold;
    border-radius: 25px;
    padding: 10px 23px;
    transform: translateY(3px);
    transition: all ease 0.07s;
}

.userImg {
    height: 45px;
    width: 45px;
    border: var(--blue) solid 2px;
    border-radius: 50%;
    background-image: url(./assets/images/blackbird.jpg);
    background-size: 100px;
    background-position: 90% 0;
}

.user > .userImg {
    height: 55px;
    width: 55px;
}

.main {
    display: grid;
    grid-template-columns: 1fr 270px;
    grid-template-areas: "projects insights";
    background-color: var(--light-yellow);
    grid-area: main;
    z-index: 0;
    overflow: hidden;
    
}

projectContainer {
    grid-area: projects;
}

.main > div > h2 {
    padding-left: 50px;
}

.projectGrid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-template-rows: 1fr 1fr 1fr;
    padding: 0 25px;
    row-gap: 25px;
    column-gap: 20px;
    max-height: 805px;
    overflow: auto;
    scrollbar-color: var(--yellow) var(--light-yellow);
    scrollbar-width: thin;
}

.project {
    padding: 15px 24px;
    border-left: solid 9px var(--orange);
    background-color: var(--mid-yellow);
    border-radius: 20px;
    max-height: 806px;
    transition: ease all 0.3s;
}

.project:hover {
    border-left: solid 9px var(--dark-orange);
    transition: ease all 0.3s;
    box-shadow: 5px 5px 5px var(--yellow);
}

h4 {
    margin: 0px auto;
}

.margin3 {
    margin: 4px;
}

.insights {
    grid-area: insights;
    display: grid;
    gap: 5px;
    grid-template-columns: 1fr;
    grid-template-rows: 0.7fr 0.7fr;
    background-color: var(--light-yellow);
    max-height: 805px;
    overflow: auto;
    scrollbar-color: var(--yellow) var(--light-yellow);
    scrollbar-width: thin;
}

.insights h2 {
    padding-left: 25px;
}

.announcements {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    border: none;
    border-radius: 20px;
    background-color: var(--mid-yellow);
    margin: 0 8px;
    overflow: auto;
    scrollbar-color: var(--yellow) var(--light-yellow);
    scrollbar-width: thin;
}

.infoPiece {
    padding: 0 25px 10px 25px;
}

.infoPiece h4 {
    padding-top: 15px;
    border-top: solid grey 1px;
}

.announcements .infoPiece:first-child h4 {
    border-top: none;
}

.trending {
    display: grid;
    grid-template-rows: repeat(3, 53px);
    gap: 20px;
}

.trend {
    display: grid;
    grid-template-columns: 1fr 5fr;
    padding-left: 25px;
    gap: 10px;
}

.who {
    display: grid;
    grid-template-rows: 1fr 1fr;
    padding-top: 5px;
}

.mention {
    font-weight: 550;
}

.role {
    font-style: italic;
    font-size: smaller;
    color: #4e769b;
}