:root {
    --color1: #0D3B66;
    --color2:#f6fffa;
    --color3:#c3edd7;
    --color4:#90dab3;
    --color5: #ff738e;
    --color6: #fe3b6d;

    --searchbar-hover: #fa9eb0;
    --shadow: #6caa89;
}