:root {
    --color1: #0D3B66;
    --color2: #FAF0CA;
    --color3: #fbeaa5;
    --color4: #F4D35E;
    --color5: #EE964B;
    --color6: #F95738;

    --searchbar-hover: #f7a558;
    --shadow: #d8b126;
}